[Desktop Entry]
Type=Application
Terminal=false
Exec=hs-blog
Name=hs-blog
Icon=${SNAP}/meta/gui/icon.png
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=internet
Name[zh_CN]=hs-blog.desktop
